<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CeilingDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CeilingDesigner.Properties.Settings.palaceConnectionString"
            connectionString="server=localhost;user id=root;database=palace"
            providerName="MySql.Data.MySqlClient" />
        <add name="CeilingDesigner.Properties.Settings.localConnectionString"
            connectionString="server=10.0.2.2;User Id=jiyu;password=jiyu;database=palace"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>